.board {
    outline: 5px solid var(--color-accent-main);
    border-radius: 0.5rem;
    background-color: var(--color-background-secondary);
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
