.board
{
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    outline: 5px solid black;
}
