.card {
    position: relative;
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 0.5rem;
    transition: 500ms, background-color 50ms;
    transform-style: preserve-3d;
    background-color: var(--color-background-main);
    outline: 5px solid var(--color-accent-secondary);
}

.card:hover {
    background-color: #555555;
}

.card_image {
    position: absolute;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 500ms;
    pointer-events: none;
}

.card_image_flipped {
    transform: rotateY(-180deg);
    border: 3px solid black;
}

.flipped {
    transform: rotateY(-180deg);
}

.card_image_front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    border: 3px solid black;
}

.card_image_front_text {
    font-size: 24px;
    user-select: none;
    color: white;
    font-weight: 600;
}

.card:hover .card_image_front_text  {
    color: var(--color-background-secondary);
}
