.container {
    position: fixed;
    padding: 20px;
    border-radius: 0.4rem;
    background-color: var(--color-background-secondary);
    outline: 0.4rem solid var(--color-accent-main);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.background {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
