:root {
    --color-background-main: #181818;
    --color-background-secondary: #F6E71D;
    
    --color-accent-main: #b79d07;
    --color-accent-secondary: #020202;

    --color-danger: #BA0000;
    --color-success: #018403;
}

body {
    background-color: var(--color-background-main);
    font-family: Verdana;
    margin: 0;
}

* {
    box-sizing: border-box;
}
