:root {
    --color-background-main: #181818;
    --color-background-secondary: #F6E71D;
    
    --color-accent-main: #F5D10D;
    --color-accent-secondary: #020202;

    --color-danger: #BA0000;
}

body {
    background-color: var(--color-background-main);
    font-family: Verdana;
}

* {
    box-sizing: border-box;
}
