.header_text
{
    font-size: 3rem;
}

.play_button
{
    margin-left: 1rem;
    font-size: 56px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
