.button {
    display: inline;
    font-size: 56px;
    font-size: 3rem;
    border-radius: 0.3rem;
}

.play-button {
    margin: 1.5rem 0 0 0;
    width: 100%;
    border: none;
    outline: 0.4rem solid var(--color-accent-secondary);
    color: white;
    background-color: var(--color-background-main);
    transition: 50ms;
}


.play-button:hover {
    background-color: #555555;
}

.results-button {
    margin: 1.5rem 0 0 0;
    width: 100%;
    border: none;
    outline: 0.4rem solid var(--color-accent-main);
    color: white;
    background-color: var(--color-accent-secondary);
    transition: 50ms;
}

.results-button:hover {
    background-color: #383838;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: none;
}

.input {
    width: 100%;
    margin: 0 auto 0 auto;
    outline: 0.4rem solid var(--color-accent-secondary);
    font-size: 3rem;
    padding: 0 5px 0 5px;
    display: block;
    border: none;
    background-color: var(--color-background-main);
    border-radius: 0.4rem;
    color: white;
}

.input:invalid {
    outline: 0.4rem solid var(--color-danger);
}

.modal-window {
    padding: 20px;
    border-radius: 0.5rem;
    background-color: var(--color-background-secondary);
    outline: 0.3rem solid var(--color-accent-main)
}

.label {
    margin: 0 0 0rem 0.6rem;
    font-size: 30px;
    font-weight: 600;
}

.checkbox-label-container {
    display: flex;
    align-items: center;
}

.checkbox {
    color: black;
    display: block;
    width: 1.2rem;
    height: 1.2rem
}

.error-message {
    color: var(--color-danger);
    font-size: 1rem;
    margin: 0;
}
