.container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.value {
    font-size: 1.5rem;
    margin: 0 0 0 0;
    width: 4rem;
    text-align: right;
}

.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background: black;
    border: 6px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-track {
    background: black;
    height: 10px;
    border-radius: 10px;
}
